<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with Natural Language Processing
        </title>
    </head>

    <body>

        <header>
            <div class="head">
                Evaluate a News Article with Natural Language Processing
            </div>
            <div class="">
               
            </div>
        </header>

        <main>
            <section>
                <form >
                    <input id="name" type="text" name="input" value=""  placeholder="Enter Article URL ....">
                    <input id="btnSubmit" type="submit" name="Submit" value="submit" >
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
          
                @Copyright udacity 2021-All rights reserved
        </footer>

    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</html>
